{
    "layer": "bottom",
    "position": "bottom",
    "mode": "dock",
    "height": 32,
    "modules-left": ["wlr/taskbar"],
    "modules-center" : ["wlr/workspaces"],
    "modules-right": [
        "tray",
        "custom/notification",
        "cpu",
        "memory",
        "temperature",
        "pulseaudio",
        "idle_inhibitor",
        "clock"
    ],
    "battery": {
        "interval": 10,
        "states": {
            "warning": 20,
            "critical": 10
        },
        // Connected to AC
        "format": "{icon}  {capacity}%", // Icon: bolt
        // Not connected to AC
        "format-discharging": "{icon}  {capacity}%",
        "format-charging": "{icon}    {capacity}%",
        "format-icons": [
            "", // Icon: battery-full
            "", // Icon: battery-three-quarters
            "", // Icon: battery-half
            "", // Icon: battery-quarter
            ""  // Icon: battery-empty
        ],
        "tooltip": true
    },

	"backlight": {
    	"device": "intel_backlight",
    	"format": "{icon} {percent}%",
    	"format-icons": ["","","","","","","","","","","","","","",""]
	},

    "clock": {
        "tooltip-format": "<tt>{calendar}</tt>",
        "format": "  {:%H:%M}",
        "locale": "gl_ES.UTF-8",
        "on-click": "wl-copy $(date '+%Y-%m-%d')",
        "on-click-right": "wl-copy $(date '+%a %-d %h %H.%M')",
    },

    "cpu": {
        "interval": 5,
        "format": "  {usage}%", // Icon: microchip
        "states": {
          "warning": 60,
          "critical": 85
        }
    },

    "custom/notification": {
        "tooltip": false,
        "format": "{icon}",
        "format-icons": {
            "notification": "<span foreground='red'><sup></sup></span>",
            "none": "",
            "dnd-notification": "<span foreground='red'><sup></sup></span>",
            "dnd-none": "",
            "inhibited-notification": "<span foreground='red'><sup></sup></span>",
            "inhibited-none": "",
            "dnd-inhibited-notification": "<span foreground='red'><sup></sup></span>",
                "dnd-inhibited-none": ""
            },
        "return-type": "json",
        "exec-if": "which swaync-client",
        "exec": "swaync-client -swb",
        "on-click": "swaync-client -t -sw",
        "on-click-right": "swaync-client -d -sw",
        "escape": true
    },

    "memory": {
        "interval": 5,
        "format": " {}%", // Icon: memory
        "states": {
            "warning": 70,
            "critical": 90
        }
    },

    "network": {
        "interval": 5,
        "format-wifi": "wifi: {ifname} ({signalStrength}%)", // Icon: wifi
        "format-ethernet": "eth: {ifname}", //: {ipaddr}/{cidr}", // Icon: ethernet
        "format-disconnected": "x",
        "tooltip-format": "{ipaddr}"
    },

    "pulseaudio": {
        "scroll-step": 1,
        "format": "{icon} {volume}%   {format_source}",
        "format-source" : " {volume}%",
        "format-source-muted" : "",
        "format-bluetooth": "{icon} {volume}%",
        "format-muted": "󰖁  {format_source}",
        "format-icons": {
            "headphones": "",
            "handsfree": "",
            "headset": "",
            "phone": "",
            "portable": "",
            "car": "",
            "default": ["󰕿", "󰖀","󰕾"]
        },
        "on-click": "pavucontrol",
        "ignored-sinks": ["Easy Effects Sink"]
    },

    "temperature": {
      "hwmon-path": "/sys/class/hwmon/hwmon3/temp3_input",
      "critical-threshold": 80,
      "interval": 3,
      "format": "{icon} {temperatureC}°C",
      "format-icons": [
          "", // Icon: temperature-empty
          "", // Icon: temperature-quarter
          "", // Icon: temperature-half
          "", // Icon: temperature-three-quarters
          ""  // Icon: temperature-full
      ],
      "tooltip": true
    },

    "tray": {
        "icon-size": 21,
        "spacing": 10
    },

    "wlr/taskbar": {
        "all-outputs": false,
        "format": "{icon} {title:.15}",
        "tooltip-format": "{title}",
        "on-click": "minimize-raise",
        "rewrite": {
            "Firefox Web Browser": "Firefox",
            "Foot Client": "Terminal"
        }
    },

    "wlr/workspaces": {
        "format": "{icon}",
        "on-click": "activate",
        "format-icons": {
            "Workspace 1": "1",
            "Workspace 2": "2",
            "Workspace 3": "3",
            "Workspace 4": "4",
            "Workspace 5": "5",
            "Workspace 6": "6",
            "Workspace 7": "7",
            "Workspace 8": "8",
            "Workspace 9": "9",
            "Workspace 10": "10",
            "urgent": "",
            "active": "",
            "default": ""
        },
        "sort-by-number": true
    },

    "idle_inhibitor": {
	    "format": "{icon}",
	    "format-icons": {
	        "activated": "",
	        "deactivated": ""
	    }
    }

}
