/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
    70% {
        color: white;
    }

    to {
        color: white;
        background-color: orange;
    }
}

@keyframes blink-critical {
    70% {
      color: white;
    }

    to {
        color: white;
        background-color: red;
    }
}


/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    font-family: NotoSansMono Nerd Font;
    font-size: 12pt;
    min-height: 0;
}

window#waybar {
    background: #c0c0c0;
    color: #708090;
}

#workspaces {
	margin: 0px;
	margin-left: 0px;
	border-radius: 0px;
    /*background-color: #4b4c53;*/
}

#workspaces button {
    padding: 2px 10px;
    color: white;
}

#workspaces button.focused {
    color: #c0c0c0;
    background-color: #778899;
    border-radius: 0px;
}

#workspaces button:hover {
	background-color: #708090;
	color: #24283b;
	border-radius: 0px;
}

#workspaces button.urgent {
    background-color: #c4aead;
    border-radius: 0px
}

/*#custom-date,*/#custom-media, #mode, #clock, #battery, #pulseaudio, #network, #cpu, #backlight, #memory, #tray, #idle_inhibitor, #temperature {
	/*background-color: #24283b;*/
	padding: 5px 10px;
}

#custom-media {
    background-color: #66cc99;
}

#battery {
    color: #9ece6a;
}

#battery.charging {
    background-color: #9ece6a;
    color: #ffffff;
}

#battery.warning:not(.charging) {
    background-color: #f7768e;
    color: #24283b;
    border-radius: 0px 5px 5px 5px;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}
