* {
    font-family: "DejaVu Sans Mono";
}

window {
    border-radius: 5px;
    background-color: #1e1e2e;
}

#input {
    border-radius: 5px 5px 0px 0px;
    background-color: #708090;
    color: white;
}

#entry {
    color: white;
}

#entry:selected {
    background-color: #708090;
    color: white;
}
