* {
	background-image: none;
}
window {
	background-color: rgba(12, 12, 12, 0.75);
}
button {
    color: #FAFAFA;
	background-color: #333333;
	border-style: solid;
	border-width: 2px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:focus, button:active, button:hover {
	background-color: #1793d1;
	outline-style: none;
}

#lock {
    background-image: image(url("/home/xan/.local/share/wlogout/lock.svg"), url("/usr/share/wlogout/assets/lock.svg"));
}

#logout {
    background-image: image(url("/home/xan/.local/share/wlogout/logout.svg"), url("/usr/share/wlogout/assets/logout.svg"));
}

#suspend {
    background-image: image(url("/home/xan/.local/share/wlogout/suspend.svg"), url("/usr/share/wlogout/assets/suspend.svg"));
}

#hibernate {
    background-image: image(url("/home/xan/.local/share/wlogout/hibernate.svg"), url("/usr/share/wlogout/assets/hibernate.svg"));
}

#shutdown {
    background-image: image(url("/home/xan/.local/share/wlogout/shutdown.svg"), url("/usr/share/wlogout/assets/shutdown.svg"));
}

#reboot {
    background-image: image(url("/home/xan/.local/share/wlogout/reboot.svg"), url("/usr/share/wlogout/assets/reboot.svg"));
}



