@define-color bg #282828;
@define-color bg1 #3c3836;
@define-color bg2 #504945;
@define-color fg #ebdbb2;
@define-color fg4 #a89984;
@define-color red #cc241d;
@define-color green #98971a;
@define-color yellow #d79921;
@define-color blue #458588;
@define-color purple #b16286;
@define-color aqua #689d68;
@define-color gray #a89984;
@define-color darkgray #1d2021;
@define-color orange #d65d0e;

/* Reset all styles */

* {
    transition: none;
    box-shadow: none;
    border: none;
    border-radius: 0;
}

#waybar {
    font-family: 'Mononoki Nerd Font 10', 'Symbols Nerd Font Mono', monospace; 
    font-size: 1.1em;
    font-weight: normal;
    min-height: 0;
    background: @bg;
}

#workspaces button {
    padding: 0 1px;
    background-color: @darkgray;
    border: @darkgray solid 1px;
    color: @fg4;
}

#workspaces button.focused {
    color: @fg;
    font-weight: bold;
    border: @aqua solid 1px;
    background-color: @blue;
}

#workspaces button.urgent {
    color: @fg;
    border: @purple solid 1px;
    font-weight: bold;
}

#tray {
  background-color: @bg;
}

#tray * {
  padding: 0 6px;
  border-left: 1px solid @bg;
}

#tray *:first-child {
  border-left: none;
}

#custom-media,
#custom-notification,
#mode,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#backlight,
#memory,
#tray,
#idle_inhibitor,
#temperature,
#custom-scratchpad_indicator {
	padding: 0 8px;
    color: @fg1;
    background-color: @bg;
}
